
  .nav {
    padding: 1.5rem 1.25rem;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .nav h1 {
    margin-bottom: 0;
  }
  .nav h1:hover {
    cursor: pointer;
  }
  @media (min-width: 768px) {
    .header {
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
    }
    .nav {
      padding: 2rem;
      width: 30vw;
      height: 100%;
      border-right: 1px solid #ebebeb;
      border-bottom: none;
      flex-direction: column;
      align-items: flex-start;
    }
  }